products catalogue/01-ready-to-sell/playbooks/127-lead-generation-automation-playbook/delivery/n8n-workflows/03-demo-booking-prep-brief.json
{
  "name": "Aiprosol — Demo booking → prep brief",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "demo-booked"
      },
      "id": "90420ae7-2678-44bd-b5d0-0512bd5d27d3",
      "name": "Booking webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://person-stream.clearbit.com/v2/combined/find?email={{ $json.attendee_email }}",
        "authentication": "genericCredentialType"
      },
      "id": "9288f4f7-dbd3-4c4c-889b-ee23e3f295bb",
      "name": "Enrich via Clearbit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://{{ $json.company_domain }}"
      },
      "id": "907019ea-b34c-4938-8314-715419927d89",
      "name": "Scrape homepage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition"
      },
      "id": "3ab7b4e6-938a-4e92-b1e0-79dc8a0599bb",
      "name": "Merge enrichment",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "modelId": {
          "value": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Write a 1-page sales prep brief. Sections: Company snapshot, Why they probably booked us, 3 likely pain points, 3 good opening questions, deal-size estimate."
            },
            {
              "role": "user",
              "content": "={{ JSON.stringify($json) }}"
            }
          ]
        }
      },
      "id": "b04927e7-2c33-49b2-83e0-5ad2c3c1f8e8",
      "name": "AI prep brief",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "title": "=Prep — {{ $('Booking webhook').first().json.attendee_email }} — {{ $now.format('yyyy-MM-dd') }}",
        "folderId": "PREP_FOLDER_ID",
        "content": "={{ $json.message.content }}"
      },
      "id": "3a2b26c5-fd0f-4b44-a0f5-26219a62d489",
      "name": "Google Docs — brief",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "user",
        "user": "={{ $('Booking webhook').first().json.rep_slack_id }}",
        "text": "=📄 Prep brief ready for your call with {{ $('Booking webhook').first().json.attendee_email }}: {{ $json.webViewLink }}"
      },
      "id": "7b1dca88-363b-4aeb-ab10-5b89fe14a253",
      "name": "DM rep",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1240,
        300
      ]
    }
  ],
  "connections": {
    "Booking webhook": {
      "main": [
        [
          {
            "node": "Enrich via Clearbit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape homepage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich via Clearbit": {
      "main": [
        [
          {
            "node": "Merge enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape homepage": {
      "main": [
        [
          {
            "node": "Merge enrichment",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge enrichment": {
      "main": [
        [
          {
            "node": "AI prep brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI prep brief": {
      "main": [
        [
          {
            "node": "Google Docs — brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs — brief": {
      "main": [
        [
          {
            "node": "DM rep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "lead-gen"
    },
    {
      "name": "enrichment"
    },
    {
      "name": "pattern-1"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "aiprosol-v1"
  },
  "pinData": {},
  "versionId": "c34c6b78-fe82-46e2-830d-2ae7c621ca73",
  "id": "7a2a47cd-5941-4597-86f4-73139bc945e0",
  "_aiprosol": {
    "description": "Booking webhook → enrich → scrape site → AI brief → Slack DM to rep",
    "version": "1.0",
    "license": "© 2026 Aiprosol Ltd · For purchaser's internal use"
  }
}