products catalogue/01-ready-to-sell/playbooks/127-lead-generation-automation-playbook/delivery/n8n-workflows/06-nurture-applied-insight.json
{
  "name": "Aiprosol — Nurture Email 2 (Day 2) — applied insight",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "8cdb49da-5233-4da1-8c47-acee835f74ed",
      "name": "Wait until day 2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "getAll",
        "filters": {
          "propertiesCollection": {
            "properties": [
              "email",
              "captured_at",
              "role",
              "industry",
              "primary_problem"
            ]
          }
        }
      },
      "id": "5bef6df4-52d1-404a-a763-5252a867f303",
      "name": "Find leads at day 2",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const cutoff = Date.now() - 2*24*60*60*1000; return $input.all().filter(i => Math.abs(new Date(i.json.captured_at).getTime() - cutoff) < 24*60*60*1000 && i.json.lead_tier === 'warm');"
      },
      "id": "e3869ff6-cb64-40eb-9597-8ba07454bb62",
      "name": "Filter to today's send batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "modelId": {
          "value": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Write Email 2 of a 5-touch nurture sequence. Brief: One-line context acknowledgement (AI-personalised). 300-500 word framework. One real example with numbers. CTA: 'What's your version of this look like? Reply with one sentence.'. Tone: warm, specific, no marketing fluff. 150-250 words."
            },
            {
              "role": "user",
              "content": "=Lead: role={{ $json.role }}, industry={{ $json.industry }}, stated problem={{ $json.primary_problem }}"
            }
          ]
        }
      },
      "id": "a280b9aa-9799-4398-a8de-40f09e43342d",
      "name": "AI-personalise body",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "to": "={ $('Find leads at day ' + str(2) + ').first().json.email }",
        "subject": "={Their specific problem}",
        "message": "={{ $json.message.content }}"
      },
      "id": "d8ff3118-e8f9-4c46-9846-7dcedbcb88c0",
      "name": "Gmail send",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "update",
        "contactId": "={ $('Find leads at day ' + str(2) + ').first().json.id }",
        "additionalFields": {
          "properties": {
            "property": [
              {
                "property": "nurture_email_2_sent",
                "value": "={{ $now.toISO() }}"
              }
            ]
          }
        }
      },
      "id": "4497d16d-6e79-401b-accc-f14f63d20fb9",
      "name": "Log send",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        1240,
        300
      ]
    }
  ],
  "connections": {
    "Wait until day 2": {
      "main": [
        [
          {
            "node": "Find leads at day 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find leads at day 2": {
      "main": [
        [
          {
            "node": "Filter to today's send batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter to today's send batch": {
      "main": [
        [
          {
            "node": "AI-personalise body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI-personalise body": {
      "main": [
        [
          {
            "node": "Gmail send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail send": {
      "main": [
        [
          {
            "node": "Log send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "lead-gen"
    },
    {
      "name": "nurture"
    },
    {
      "name": "day-2"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "aiprosol-v1"
  },
  "pinData": {},
  "versionId": "4e1e7f9c-e63c-4f76-8dc2-e1c952592065",
  "id": "169cf5d4-85c6-476d-a6bb-4d0bb5721d6e",
  "_aiprosol": {
    "description": "Day 2 trigger → AI-personalised body → Gmail send → log",
    "version": "1.0",
    "license": "© 2026 Aiprosol Ltd · For purchaser's internal use"
  }
}