products catalogue/01-ready-to-sell/playbooks/127-lead-generation-automation-playbook/delivery/n8n-workflows/07-nurture-counter-intuitive.json
{
  "name": "Aiprosol — Nurture Email 3 (Day 5) — counter-intuitive",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "647ac8fc-9b44-4bc6-92ad-a9624e794c20",
      "name": "Wait until day 5",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "getAll",
        "filters": {
          "propertiesCollection": {
            "properties": [
              "email",
              "captured_at",
              "role",
              "industry",
              "primary_problem"
            ]
          }
        }
      },
      "id": "c88cfa39-3976-4547-8c45-f76f054b1013",
      "name": "Find leads at day 5",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const cutoff = Date.now() - 5*24*60*60*1000; return $input.all().filter(i => Math.abs(new Date(i.json.captured_at).getTime() - cutoff) < 24*60*60*1000 && i.json.lead_tier === 'warm');"
      },
      "id": "4ec822c9-00f9-4352-8584-388c3fd8eb18",
      "name": "Filter to today's send batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "modelId": {
          "value": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Write Email 3 of a 5-touch nurture sequence. Brief: Counter-intuitive angle on their problem. One specific case study by name. 90-sec video link. CTA: book a 15-min call.. Tone: warm, specific, no marketing fluff. 150-250 words."
            },
            {
              "role": "user",
              "content": "=Lead: role={{ $json.role }}, industry={{ $json.industry }}, stated problem={{ $json.primary_problem }}"
            }
          ]
        }
      },
      "id": "023b3f4f-d648-41fe-9665-cb4c737c212f",
      "name": "AI-personalise body",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "to": "={ $('Find leads at day ' + str(5) + ').first().json.email }",
        "subject": "=The one thing most people miss about {topic}",
        "message": "={{ $json.message.content }}"
      },
      "id": "362275ba-9cb9-4b05-94a7-ae19edf52601",
      "name": "Gmail send",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "update",
        "contactId": "={ $('Find leads at day ' + str(5) + ').first().json.id }",
        "additionalFields": {
          "properties": {
            "property": [
              {
                "property": "nurture_email_3_sent",
                "value": "={{ $now.toISO() }}"
              }
            ]
          }
        }
      },
      "id": "8c86e718-efb5-4294-b784-20459fddd3d9",
      "name": "Log send",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        1240,
        300
      ]
    }
  ],
  "connections": {
    "Wait until day 5": {
      "main": [
        [
          {
            "node": "Find leads at day 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find leads at day 5": {
      "main": [
        [
          {
            "node": "Filter to today's send batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter to today's send batch": {
      "main": [
        [
          {
            "node": "AI-personalise body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI-personalise body": {
      "main": [
        [
          {
            "node": "Gmail send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail send": {
      "main": [
        [
          {
            "node": "Log send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "lead-gen"
    },
    {
      "name": "nurture"
    },
    {
      "name": "day-5"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "aiprosol-v1"
  },
  "pinData": {},
  "versionId": "bc7f2bdb-1bd7-4fdc-9b62-4b6bd02c3af7",
  "id": "05d50eed-471d-4a56-ade9-c482f6c63191",
  "_aiprosol": {
    "description": "Day 5 trigger → AI-personalised body → Gmail send → log",
    "version": "1.0",
    "license": "© 2026 Aiprosol Ltd · For purchaser's internal use"
  }
}