products catalogue/01-ready-to-sell/toolkits/197-ai-tools-stack-starter-kit/delivery/n8n-workflows/09-airtable-openai-mailchimp.json
{
  "name": "Aiprosol Stack — Airtable record → OpenAI → Mailchimp campaign",
  "nodes": [
    {
      "parameters": {
        "triggerField": "Updated"
      },
      "id": "3a2130f7-863f-4a86-809e-90c3b69f6dc7",
      "name": "Airtable update",
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "modelId": {
          "value": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Generate email campaign copy in 120 words for this audience segment."
            },
            {
              "role": "user",
              "content": "={{ JSON.stringify($json) }}"
            }
          ]
        }
      },
      "id": "805bc745-9fd9-46cf-bc54-81bfeaa0ea07",
      "name": "OpenAI copy",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "resource": "campaign",
        "operation": "create"
      },
      "id": "f206e880-12d9-4253-afe9-625b5349ebe3",
      "name": "Mailchimp draft",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    }
  ],
  "connections": {
    "Airtable update": {
      "main": [
        [
          {
            "node": "OpenAI copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI copy": {
      "main": [
        [
          {
            "node": "Mailchimp draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "stack"
    },
    {
      "name": "airtable"
    },
    {
      "name": "mailchimp"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "aiprosol-v1"
  },
  "pinData": {},
  "versionId": "81167bcc-171f-4603-9652-ad99a7663551",
  "id": "ed4d2c87-fcc0-426e-80e9-c7ab9dfd934e",
  "_aiprosol": {
    "description": "Airtable record update → OpenAI generates campaign copy → creates draft Mailchimp campaign for review.",
    "version": "1.0",
    "license": "© 2026 Aiprosol Ltd · For purchaser's internal use"
  }
}