products catalogue/01-ready-to-sell/toolkits/197-ai-tools-stack-starter-kit/delivery/n8n-workflows/18-googleAnalytics-claude-notion.json
{
  "name": "Aiprosol Stack — GA4 anomaly → Claude analysis → Notion entry",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "71df8088-ba4a-4532-b8ad-ff07624090ed",
      "name": "Daily 7am GA4 check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "report",
        "operation": "get"
      },
      "id": "f4ed5398-453e-40ce-860d-972177e8983f",
      "name": "GA4 pull",
      "type": "n8n-nodes-base.googleAnalytics",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Check for traffic anomalies vs 7-day avg. Hypothesise cause. Data: {{ JSON.stringify($json) }}"
            }
          ]
        }
      },
      "id": "f7a296a0-42eb-434f-babe-08b0520889f9",
      "name": "Claude anomaly analysis",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "INCIDENTS_DB_ID",
        "title": "=Anomaly — {{ $now.format('yyyy-MM-dd') }}"
      },
      "id": "de5a3f1e-bc9d-4baf-bf34-aa4a8dac0863",
      "name": "Notion incident",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        840,
        300
      ]
    }
  ],
  "connections": {
    "Daily 7am GA4 check": {
      "main": [
        [
          {
            "node": "GA4 pull",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GA4 pull": {
      "main": [
        [
          {
            "node": "Claude anomaly analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude anomaly analysis": {
      "main": [
        [
          {
            "node": "Notion incident",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "stack"
    },
    {
      "name": "ga4"
    },
    {
      "name": "claude"
    },
    {
      "name": "notion"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "aiprosol-v1"
  },
  "pinData": {},
  "versionId": "7eb8f57c-0adf-47ba-901f-3f5767e577d3",
  "id": "f88c9020-8b45-4390-9837-29af5e95e1da",
  "_aiprosol": {
    "description": "Daily GA4 check for traffic anomalies → Claude analyses cause hypothesis → creates Notion 'incidents' database entry for the marketing team.",
    "version": "1.0",
    "license": "© 2026 Aiprosol Ltd · For purchaser's internal use"
  }
}