products catalogue/01-ready-to-sell/playbooks/097-workflow-automation-playbook/delivery/n8n-workflows/03-stale-deal-radar.json
{
  "name": "Aiprosol — Stale-deal radar",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "9a1e41b8-0790-4c13-8a9d-af512a78f851",
      "name": "Daily 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "deal",
        "operation": "getAll",
        "filters": {
          "propertiesCollection": {
            "properties": [
              "dealname",
              "amount",
              "dealstage",
              "hs_lastmodifieddate",
              "hubspot_owner_id"
            ]
          }
        },
        "returnAll": false,
        "limit": 200
      },
      "id": "4ca52674-83b0-41ae-bb92-ab19a21e9e11",
      "name": "HubSpot — search deals",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const cutoff = Date.now() - 14 * 24 * 60 * 60 * 1000; return $input.all().filter(i => new Date(i.json.hs_lastmodifieddate).getTime() < cutoff && !['closedwon','closedlost'].includes(i.json.dealstage));"
      },
      "id": "3a5dd786-8899-4e2a-99e4-47ee7773c666",
      "name": "Filter: no activity 14+ days",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "modelId": {
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "For each stale deal, suggest one concrete next action in <15 words. Be specific (not 'follow up')."
            },
            {
              "role": "user",
              "content": "={{ JSON.stringify($json) }}"
            }
          ]
        }
      },
      "id": "03286183-8e85-4a5d-b424-d5c13fbf7321",
      "name": "AI-suggest next action",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#sales-pipeline",
        "text": "=🕰 Stale-deal radar — {{ $now.format('EEE dd MMM') }}\\n\\n{{ $items().map(i => `• ${i.json.dealname} ($${i.json.amount}) — last touched ${i.json.hs_lastmodifieddate.split('T')[0]} → ${i.json.suggested_action}`).join('\\n') }}"
      },
      "id": "67d04afc-294f-4bb8-9b3d-c563eb1d4fbd",
      "name": "Slack — digest",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1040,
        300
      ]
    }
  ],
  "connections": {
    "Daily 8am": {
      "main": [
        [
          {
            "node": "HubSpot — search deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot — search deals": {
      "main": [
        [
          {
            "node": "Filter: no activity 14+ days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: no activity 14+ days": {
      "main": [
        [
          {
            "node": "AI-suggest next action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI-suggest next action": {
      "main": [
        [
          {
            "node": "Slack — digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "sales"
    },
    {
      "name": "pipeline-hygiene"
    },
    {
      "name": "pattern-4"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "aiprosol-playbook-v1"
  },
  "pinData": {},
  "versionId": "60e7296a-378a-4450-9596-4959c9511d10",
  "id": "3184e6c9-8c84-43bc-b513-1b1948a5c358",
  "_aiprosol": {
    "description": "Daily 8am cron → HubSpot deals (no activity 14+ days) → Slack digest",
    "version": "1.0",
    "license": "© 2026 Aiprosol Ltd · For purchaser's internal use"
  }
}