products catalogue/01-ready-to-sell/playbooks/097-workflow-automation-playbook/delivery/n8n-workflows/05-deal-stage-change-email.json
{
  "name": "Aiprosol — Deal stage change → next-step email draft",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deal-stage-change"
      },
      "id": "fc3a3a87-f1ce-47e0-b617-8ba6c6846ede",
      "name": "HubSpot webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "deal",
        "operation": "get",
        "dealId": "={{ $json.objectId }}"
      },
      "id": "83c5e943-0ff2-4073-a292-5df4e33b9829",
      "name": "Get full deal",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "get",
        "contactId": "={{ $json.associations.contacts.results[0].id }}"
      },
      "id": "6384cd3f-3c31-410a-8a12-f2de616e6650",
      "name": "Get primary contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "modelId": {
          "value": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Draft the right next-step email based on the deal's new stage. Demo-booked → friendly confirmation w/ pre-call brief. Proposal-sent → polite check-in. Closed-won → onboarding kickoff. Closed-lost → graceful close with door open. Match the contact's tone. Keep <120 words."
            },
            {
              "role": "user",
              "content": "=Contact: {{ $json.properties.firstname }} {{ $json.properties.lastname }} at {{ $('Get full deal').first().json.properties.dealname }}\\nNew stage: {{ $('HubSpot webhook').first().json.propertyName }} = {{ $('HubSpot webhook').first().json.propertyValue }}"
            }
          ]
        }
      },
      "id": "da8a948b-8886-48b2-b352-793daf322ef0",
      "name": "Draft email",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "create",
        "to": "={{ $('Get primary contact').first().json.properties.email }}",
        "subject": "=Re: {{ $('Get full deal').first().json.properties.dealname }}",
        "message": "={{ $json.message.content }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "fd6ca10a-81f4-4a7d-b9e3-8c0d764abf38",
      "name": "Gmail — create draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#sales",
        "text": "=📨 Draft queued for {{ $('Get full deal').first().json.properties.dealname }} → gmail.com/drafts"
      },
      "id": "80b6af0c-3bd5-450b-ab7a-b9a407416dbb",
      "name": "Slack — notify rep",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1240,
        300
      ]
    }
  ],
  "connections": {
    "HubSpot webhook": {
      "main": [
        [
          {
            "node": "Get full deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get full deal": {
      "main": [
        [
          {
            "node": "Get primary contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get primary contact": {
      "main": [
        [
          {
            "node": "Draft email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft email": {
      "main": [
        [
          {
            "node": "Gmail — create draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail — create draft": {
      "main": [
        [
          {
            "node": "Slack — notify rep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "sales"
    },
    {
      "name": "ai-drafting"
    },
    {
      "name": "pattern-1"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "aiprosol-playbook-v1"
  },
  "pinData": {},
  "versionId": "97f089bb-4cc6-485f-8533-9ac2516353dd",
  "id": "291758de-32d8-40b5-8c11-668066295634",
  "_aiprosol": {
    "description": "HubSpot deal stage webhook → AI-drafted Gmail draft based on new stage",
    "version": "1.0",
    "license": "© 2026 Aiprosol Ltd · For purchaser's internal use"
  }
}