products catalogue/01-ready-to-sell/playbooks/097-workflow-automation-playbook/delivery/n8n-workflows/09-qbr-autodraft.json
{
  "name": "Aiprosol — QBR auto-draft",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 1 1,4,7,10 *"
            }
          ]
        }
      },
      "id": "e6c68d48-f04a-4239-a21a-0012538c6105",
      "name": "Quarterly cron",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "CUSTOMERS_DB_ID"
      },
      "id": "040eda43-148d-4888-9fe1-6d3a2617d5f5",
      "name": "Active customers",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.aiprosol.com/usage?customer={{ $json.id }}&days=90"
      },
      "id": "597354c9-77a4-4e98-b895-ecb9eacaf781",
      "name": "90-day usage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "modelId": {
          "value": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Draft a 10-slide QBR for this customer. Slides: 1 cover, 2 outcomes summary, 3-5 wins, 6-7 risks/blockers, 8-9 next-quarter plan, 10 the ask. Markdown with '---' between slides."
            },
            {
              "role": "user",
              "content": "={{ JSON.stringify($json) }}"
            }
          ]
        }
      },
      "id": "a80089e0-f1e0-43b4-91f1-7f7a1976c946",
      "name": "QBR draft",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "operation": "createPresentation",
        "title": "=QBR — {{ $('Active customers').first().json.name }} — {{ $now.format('yyyy-QQQ') }}"
      },
      "id": "5e920d35-b7d2-47c0-a5bc-c2732e568b1e",
      "name": "Google Slides — create",
      "type": "n8n-nodes-base.googleSlides",
      "typeVersion": 1,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#cs",
        "text": "=📊 QBR drafts ready for {{ $('Active customers').all().length }} customers — review folder"
      },
      "id": "0298d157-5ddc-4151-babf-8e300573f024",
      "name": "Slack — notify CS",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1240,
        300
      ]
    }
  ],
  "connections": {
    "Quarterly cron": {
      "main": [
        [
          {
            "node": "Active customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Active customers": {
      "main": [
        [
          {
            "node": "90-day usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "90-day usage": {
      "main": [
        [
          {
            "node": "QBR draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QBR draft": {
      "main": [
        [
          {
            "node": "Google Slides — create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Slides — create": {
      "main": [
        [
          {
            "node": "Slack — notify CS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "customer-success"
    },
    {
      "name": "reporting"
    },
    {
      "name": "pattern-4"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "aiprosol-playbook-v1"
  },
  "pinData": {},
  "versionId": "a04fa977-a519-47d6-8817-8e107d48c5cb",
  "id": "c2df5a67-2ea8-4f1b-85f8-1a79ddfb5d99",
  "_aiprosol": {
    "description": "Quarterly cron → for each customer → usage data → AI QBR brief → Google Slides",
    "version": "1.0",
    "license": "© 2026 Aiprosol Ltd · For purchaser's internal use"
  }
}