products catalogue/01-ready-to-sell/playbooks/097-workflow-automation-playbook/delivery/n8n-workflows/13-vendor-renewal-radar.json
{
  "name": "Aiprosol — Vendor renewal radar",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "25875698-16a0-446b-8228-1036e77b23f8",
      "name": "Daily 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "VENDORS_DB_ID"
      },
      "id": "7111f8cf-2794-4c76-ad35-e295e3848c86",
      "name": "Get vendors",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const horizon = Date.now() + 60*24*60*60*1000; return $input.all().filter(i => { const r = new Date(i.json.next_renewal_date).getTime(); return r > Date.now() && r < horizon; });"
      },
      "id": "4ea27b08-9628-4e17-9b21-43f397245e13",
      "name": "Filter: renewing in 60d",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "modelId": {
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Recommend keep / negotiate / cancel for this vendor in <30 words. Consider: monthly spend, usage trend, ease of replacement."
            },
            {
              "role": "user",
              "content": "={{ JSON.stringify($json) }}"
            }
          ]
        }
      },
      "id": "a4e43326-fa08-4a05-8ba8-782a54240d36",
      "name": "AI keep/cut",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#finance",
        "text": "=💸 Vendors renewing in 60 days:\\n{{ $items().map(i => `• ${i.json.vendor} ($${i.json.monthly_cost}/mo) → ${i.json.message.content}`).join('\\n') }}"
      },
      "id": "070bdade-ecc9-4041-846a-766511f57504",
      "name": "Slack — vendor digest",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1040,
        300
      ]
    }
  ],
  "connections": {
    "Daily 9am": {
      "main": [
        [
          {
            "node": "Get vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get vendors": {
      "main": [
        [
          {
            "node": "Filter: renewing in 60d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: renewing in 60d": {
      "main": [
        [
          {
            "node": "AI keep/cut",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI keep/cut": {
      "main": [
        [
          {
            "node": "Slack — vendor digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "operations"
    },
    {
      "name": "finance"
    },
    {
      "name": "pattern-4"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "aiprosol-playbook-v1"
  },
  "pinData": {},
  "versionId": "1659e874-bea5-435e-8933-789ac1865996",
  "id": "3e6cc037-8d09-4f27-bf4b-c8658b469029",
  "_aiprosol": {
    "description": "Daily 9am → vendor DB → 60-day renewal lookahead → AI keep/cut recommendation",
    "version": "1.0",
    "license": "© 2026 Aiprosol Ltd · For purchaser's internal use"
  }
}