products catalogue/01-ready-to-sell/playbooks/097-workflow-automation-playbook/delivery/n8n-workflows/14-document-filing.json
{
  "name": "Aiprosol — Document filing auto-router",
  "nodes": [
    {
      "parameters": {
        "event": "fileCreated",
        "folderToWatch": {
          "__rl": true,
          "value": "INBOX_FOLDER_ID"
        }
      },
      "id": "50da4ea5-0e89-4690-9841-21b7fb687f35",
      "name": "Drive — new file in Inbox",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "fileId": "={{ $json.id }}"
      },
      "id": "19f52462-8b87-4ab6-88c6-6a36b8156dc5",
      "name": "Download file content",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "modelId": {
          "value": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Classify this document into one: INVOICE, CONTRACT, RECEIPT, PROPOSAL, REPORT, PERSONAL, OTHER. Return only the label."
            },
            {
              "role": "user",
              "content": "=File: {{ $('Drive — new file in Inbox').first().json.name }}"
            }
          ]
        }
      },
      "id": "ea658f48-594f-4dbb-8c1c-da095fd09c8b",
      "name": "Extract text (vision/OCR)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content.trim() }}",
                    "rightValue": "INVOICE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "invoice"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content.trim() }}",
                    "rightValue": "CONTRACT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "contract"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content.trim() }}",
                    "rightValue": "RECEIPT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "receipt"
            }
          ]
        }
      },
      "id": "dd64ab37-15a6-4162-a2ff-6d93ef412b0f",
      "name": "Switch by category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "move",
        "fileId": "={{ $('Drive — new file in Inbox').first().json.id }}",
        "folderId": {
          "__rl": true,
          "value": "INVOICES_FOLDER_ID"
        }
      },
      "id": "103afe12-839d-4f08-91ac-2cf8c4c442e2",
      "name": "Move to Invoices",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1040,
        200
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "move",
        "fileId": "={{ $('Drive — new file in Inbox').first().json.id }}",
        "folderId": {
          "__rl": true,
          "value": "CONTRACTS_FOLDER_ID"
        }
      },
      "id": "cb478cd8-ae77-42af-92b9-d32258616266",
      "name": "Move to Contracts",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "move",
        "fileId": "={{ $('Drive — new file in Inbox').first().json.id }}",
        "folderId": {
          "__rl": true,
          "value": "RECEIPTS_FOLDER_ID"
        }
      },
      "id": "d7a5ad2d-3fab-4332-89bc-857e7a59f89a",
      "name": "Move to Receipts",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1040,
        400
      ]
    }
  ],
  "connections": {
    "Drive — new file in Inbox": {
      "main": [
        [
          {
            "node": "Download file content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file content": {
      "main": [
        [
          {
            "node": "Extract text (vision/OCR)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text (vision/OCR)": {
      "main": [
        [
          {
            "node": "Switch by category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch by category": {
      "main": [
        [
          {
            "node": "Move to Invoices",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move to Contracts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move to Receipts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "operations"
    },
    {
      "name": "documents"
    },
    {
      "name": "pattern-2"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "aiprosol-playbook-v1"
  },
  "pinData": {},
  "versionId": "3d8ac564-91c0-44e0-bc49-8ae127024cdc",
  "id": "67ab4923-5899-4d8d-89ca-058e293a900c",
  "_aiprosol": {
    "description": "Drive Inbox file → AI category → move to right folder + tag",
    "version": "1.0",
    "license": "© 2026 Aiprosol Ltd · For purchaser's internal use"
  }
}