products catalogue/01-ready-to-sell/playbooks/097-workflow-automation-playbook/delivery/n8n-workflows/16-invoice-ocr-accounting.json
{
  "name": "Aiprosol — Invoice OCR → Xero entry",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INVOICES"
          ],
          "search": "has:attachment"
        }
      },
      "id": "a7dd8282-ddd3-4f96-af3f-d5f530ffd591",
      "name": "Gmail — accounts@",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "modelId": {
          "value": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Read the attached invoice PDF. Return JSON: {\"vendor\":string, \"invoice_no\":string, \"date\":\"YYYY-MM-DD\", \"due_date\":\"YYYY-MM-DD\", \"total\":number, \"currency\":string, \"line_items\":[{\"desc\":string,\"qty\":number,\"amount\":number}]}"
            },
            {
              "role": "user",
              "content": [
                {
                  "type": "image_url",
                  "image_url": {
                    "url": "={{ $binary.data }}"
                  }
                }
              ]
            }
          ]
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "id": "6bda12c2-2409-4f38-b323-87e792f02949",
      "name": "Extract via vision",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "resource": "invoice",
        "operation": "create",
        "type": "ACCPAY",
        "contact": "={{ JSON.parse($json.message.content).vendor }}",
        "date": "={{ JSON.parse($json.message.content).date }}",
        "dueDate": "={{ JSON.parse($json.message.content).due_date }}",
        "lineAmountTypes": "Exclusive"
      },
      "id": "7fe3dde0-8891-4e19-a82b-99fc528670b7",
      "name": "Xero — create bill",
      "type": "n8n-nodes-base.xero",
      "typeVersion": 1,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ JSON.parse($('Extract via vision').first().json.message.content).vendor }} — {{ JSON.parse($('Extract via vision').first().json.message.content).date }}.pdf",
        "parents": [
          "INVOICES_ARCHIVE_FOLDER_ID"
        ]
      },
      "id": "7144e2ab-4445-4e24-89b5-cfacca6996ef",
      "name": "Drive — archive PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#finance",
        "text": "=📥 Invoice booked: {{ JSON.parse($('Extract via vision').first().json.message.content).vendor }} · ${{ JSON.parse($('Extract via vision').first().json.message.content).total }} · due {{ JSON.parse($('Extract via vision').first().json.message.content).due_date }}"
      },
      "id": "6b6517b1-6cb0-4498-928a-b6367fb0594d",
      "name": "Slack — finance confirm",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1040,
        300
      ]
    }
  ],
  "connections": {
    "Gmail — accounts@": {
      "main": [
        [
          {
            "node": "Extract via vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract via vision": {
      "main": [
        [
          {
            "node": "Xero — create bill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Xero — create bill": {
      "main": [
        [
          {
            "node": "Drive — archive PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive — archive PDF": {
      "main": [
        [
          {
            "node": "Slack — finance confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "finance"
    },
    {
      "name": "ocr"
    },
    {
      "name": "pattern-1"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "aiprosol-playbook-v1"
  },
  "pinData": {},
  "versionId": "260f949a-bd4e-4533-94f1-54544b222d60",
  "id": "27da46a1-27d7-4b24-a942-023e8b1d8247",
  "_aiprosol": {
    "description": "Email PDF → AI vision extract → Xero create bill → Drive archive → Slack confirm",
    "version": "1.0",
    "license": "© 2026 Aiprosol Ltd · For purchaser's internal use"
  }
}