products catalogue/01-ready-to-sell/playbooks/097-workflow-automation-playbook/delivery/n8n-workflows/24-seo-audit-weekly.json
{
  "name": "Aiprosol — SEO weekly auto-audit",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 11 * * 1"
            }
          ]
        }
      },
      "id": "e28e1280-8c93-4ed5-ab3c-8f465df88a41",
      "name": "Mon 11am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/webmasters/v3/sites/aiprosol.com/searchAnalytics/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"startDate\":\"{{ $now.minus(7,'day').toFormat('yyyy-MM-dd') }}\",\"endDate\":\"{{ $now.toFormat('yyyy-MM-dd') }}\",\"dimensions\":[\"page\",\"query\"],\"rowLimit\":500}"
      },
      "id": "b592ab85-61eb-4ab5-9f72-69f69d998f21",
      "name": "GSC top pages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://apiv2.ahrefs.com/?from=organic_keywords&target=aiprosol.com&mode=domain"
      },
      "id": "1d4ee6fc-f4a8-4547-bfdd-2d905457ee07",
      "name": "Ahrefs position changes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition"
      },
      "id": "055f1f4c-44a5-4467-817c-08f540786573",
      "name": "Merge SEO data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "modelId": {
          "value": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You're an SEO analyst. From this week's data identify: top-5 priorities — pages that dropped, low-CTR pages with high impressions, queries we're #11-20 for (highest ROI to push). Return 5 bullet actions."
            },
            {
              "role": "user",
              "content": "={{ JSON.stringify($json) }}"
            }
          ]
        }
      },
      "id": "86ba48fe-60c9-4a9b-9fa2-49fe6c9f0602",
      "name": "AI prioritise",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#marketing",
        "text": "=🔍 *SEO this week*\\n\\n{{ $json.message.content }}"
      },
      "id": "e8320bf4-d434-48ea-ba8d-5c84addcb1e0",
      "name": "Slack — SEO priorities",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1040,
        300
      ]
    }
  ],
  "connections": {
    "Mon 11am": {
      "main": [
        [
          {
            "node": "GSC top pages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ahrefs position changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSC top pages": {
      "main": [
        [
          {
            "node": "Merge SEO data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ahrefs position changes": {
      "main": [
        [
          {
            "node": "Merge SEO data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge SEO data": {
      "main": [
        [
          {
            "node": "AI prioritise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI prioritise": {
      "main": [
        [
          {
            "node": "Slack — SEO priorities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "marketing"
    },
    {
      "name": "seo"
    },
    {
      "name": "pattern-4"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "aiprosol-playbook-v1"
  },
  "pinData": {},
  "versionId": "6729e25b-b707-475f-9256-8e91e158a27d",
  "id": "add08e46-8605-4a7b-a7b5-6052d9a30db8",
  "_aiprosol": {
    "description": "Mon 11am → GSC + Ahrefs data → AI prioritise drops/opportunities → Slack",
    "version": "1.0",
    "license": "© 2026 Aiprosol Ltd · For purchaser's internal use"
  }
}