products catalogue/01-ready-to-sell/toolkits/097-global-business-automation-starter-pack/delivery/n8n-workflows/09-starter-nps-pulse.json
{
  "name": "Aiprosol Starter — 30-day NPS pulse — single-question email",
  "nodes": [
    {
      "parameters": {
        "events": [
          "customer.created"
        ]
      },
      "id": "528491e3-d84b-4dd9-bd52-619e10a08657",
      "name": "Stripe new customer",
      "type": "n8n-nodes-base.stripeTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 30,
        "unit": "days"
      },
      "id": "b9f6b3b8-2993-4bf9-ae78-c6c45563106d",
      "name": "Wait 30 days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "to": "={{ $('Stripe new customer').first().json.email }}",
        "subject": "Quick — 1 question",
        "message": "=Hi {{ $('Stripe new customer').first().json.name || 'there' }},\\n\\n30 days in. On 0-10, how likely are you to recommend us to a peer?\\n\\nReply with just the number.\\n\\nThanks — Srijan"
      },
      "id": "6d6850fc-612a-4139-9507-65c64f026a9c",
      "name": "Send NPS email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        640,
        300
      ]
    }
  ],
  "connections": {
    "Stripe new customer": {
      "main": [
        [
          {
            "node": "Wait 30 days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 days": {
      "main": [
        [
          {
            "node": "Send NPS email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "starter"
    },
    {
      "name": "feedback"
    },
    {
      "name": "pattern-7"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "aiprosol-v1"
  },
  "pinData": {},
  "versionId": "3c06f61c-b109-4a2d-80df-d632b877e6b6",
  "id": "6cf570f3-e45e-48b1-b02a-d690d9d322bd",
  "_aiprosol": {
    "description": "30 days after every Stripe customer is created, send them a 1-question NPS email. Responses logged in a Sheet.",
    "version": "1.0",
    "license": "© 2026 Aiprosol Ltd · For purchaser's internal use"
  }
}